.App {
  text-align: center;
  font-size:14px;
}

@font-face {
font-family: 'SEGA LOGO FONT';
font-style: normal;
font-weight: normal;
src: local('SEGA LOGO FONT'), url('../SEGA.woff') format('woff');
}

h1 {
  font-family: 'SEGA LOGO FONT';
  color: red;
  font-weight: 100;
  font-size: 50px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width:800px;
  margin:0px auto;
}

.column {
  height: 100px;
  border: solid white 2px;
}

.headshot {
  width: 30vw;
  height: 30vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  background: #9eebcf;
  border-radius:12px;
}

.headshot h2 {
  margin: 0;
  flex-shrink: 1;
  font-family: arial;
  font-size: 2vw;
} 

.headshot img {
  display: block;
  margin: 8% auto;
  background: white;
  border-radius: 100%;
  height: 20vw;
  flex-grow: 1;
}

.address {
  width: calc(80% - 25vw);
  height: 30vw;
  text-align:left;
  padding-left:30px;
}
.address p {
  margin:0px;
}
.address a {
  display:inline-block; 
  padding:8px 16px;
  border-radius:6px;
  font-weight:700;
  color:#ffffff;
  background-color:#131313;
  text-decoration:none;
  margin:20px 0px;
}

